[submodule "extern/tetgen"]
	path = extern/tetgen
	url = https://codeberg.org/TetGen/TetGen.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/icaven/glm.git
[submodule "extern/svd3"]
	path = extern/svd3
	url = https://github.com/ericjang/svd3.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
